

@media screen and (min-width:480px) {

}

@media screen and (min-width:1025px) {

}


#footer{
	clear:both;
	margin-top:10px;
	padding:10px 0px 10px 10px;
	border-color:#4d514f;
	border-width:1px 0px 0px 0px;
}

.date{
	margin-bottom:10px;
	text-align:right;
}